.book-card {
  background: linear-gradient(145deg, black, grey);
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  padding: 10px;
  margin: 60px;
  width: 30%;
  max-width: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
body.dark-mode .book-card {
  background-color: #f0f0f0;
}

body.dark-mode .book-card:hover {
  box-shadow: 0 10px 20px rgba(255,255,255,0.1);
}
